@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "_AuthLayout";
}

<div class="form-signin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <img class="mb-4" src="/images/logo.png" alt="" width="72" height="72">
    <p>Please check your email for a link to reset your password.</p>
    <p>
        If you haven't received an email after a few minutes, please confirm that you have entered it correctly,
        and check any spam or junk folders that it may have arrived in.
    </p>
    <a asp-action="Login">Back to login</a>

</div>

