@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_AuthLayout";
}

<form class="form-signin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <img class="mb-4" src="/images/logo.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Forgotten your password?</h1>
    <p>Enter your email to reset it.</p>
    <div class="form-label-group">
        <input name="Email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputEmail">Email address</label>
    </div>
    <br />
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Send reset email">

    <a asp-action="Login">Back to login</a>

</form>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
