@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "_AuthLayout";
}


<form class="form-signin" method="post">
    <input asp-for="Code" type="hidden" />
    <img class="mb-4" src="/images/logo.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">@ViewData["Title"]t</h1>
    <p>
        Reset the password for your account below. 
    </p>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-label-group">
        <input name="Email" type="email" id="inputEmail" class="form-control input-top" placeholder="Email address" required autofocus>
        <label for="inputEmail">Email address</label>
    </div>
    <div class="form-label-group">
        <input name="Password" type="password" id="inputPassword" class="form-control input-middle" placeholder="Password" required>
        <label for="inputPassword">Password</label>
    </div>
    <div class="form-label-group">
        <input name="ConfirmPassword" type="password" id="inputConfirmPassword" class="form-control input-bottom" placeholder="Confirm Password" required>
        <label for="inputConfirmPassword">Confirm Password</label>
    </div>
    <br />
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Reset Password">

</form>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
