@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Manage your account</h2>

<div>
    <h4>Change your account settings</h4>
    <hr />
            @RenderBody()
</div>

@section BottomNav {
    @await Html.PartialAsync("_ManageNav")
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}

