@using Lunar.Auth.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}



    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Account Options</span>
        <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
        </a>
    </h6>
    <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link" asp-action="Index">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="ChangePassword">Password</a>
        </li>
        @if (hasExternalLogins)
        {
        <li class="nav-item">
            <a class="nav-link" asp-action="ExternalLogins">External logins</a>
        </li>
        }
        <li class="nav-item">
            <a class="nav-link" asp-action="TwoFactorAuthentication">Two-factor authentication</a>
        </li>
    </ul>
