@{
    ViewData["Title"] = "Home Page";
}


<!-- Breadcrumb -->

<ol class="breadcrumb">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>

<div class="container-fluid">
    <div class="animated fadeIn">

    </div>
</div>
<!-- /.conainer-fluid -->

@section Scripts {

    <script src="~/lib/coreui/js/views/main.js"></script>
}